---
layout: default
---
<div itemscope="" itemtype="http://schema.org/Blog">
<meta itemprop="name" content="Baggerspion">
<h1>Posts</h1>
<div class="main-post-list">
  <ol class="post-list">
    {% for post in paginator.posts %}
    <li itemprop="blogPost" itemscope="" itemtype="http://schema.org/BlogPosting">
      <meta itemprop="author" content="Paul J. Adams" itemtype="http://schema.org/Person">
      <h3 itemprop="name" class="post-list__post-title post-title">
	<a itemprop="url" href="{{site.baseurl }}{{ post.url | remove_first: '/' }}" title="{{post.title }}">
	  {{ post.title }}
	</a>
      </h3>

      {% if post.header %}
      <img itemprop="image" itemtype="http://schema.org/ImageObject" src="{{ site.imgroot }}Headers/{{post.header.src }}" alt="{{ post.header.desc }}">
      {% endif %}
        <p itemprop="description" class="excerpt">{{ post.excerpt | remove: '<p>' | remove: '</p>' }}&hellip;</p>
        <div class="post-list__meta">
	  <time itemprop="datePublished" datetime="{{ post.date | date: "%-d %b %Y" }}" class="post-list__meta--date date">{{ post.date | date: "%-d %b %Y" }}</time> | <span class="post-meta__tags">Categories: {% for tag in post.categories %}<a href="{{ site.baseurl }}categories/#{{ tag }}">{{ tag }}</a> {% endfor %}</span></div>
        <hr class="post-list__divider">
    </li>
    {% endfor %}
  </ol>

  {% if paginator.previous_page or paginator.next_page %}
      {% include pagination.html %}
  {% endif %}

    </div>
</div>
