<section id="about" class="about py-lg-5 py-md-5 py-5">
    <div class="container">
        <div class="inner-sec-w3pvt py-lg-5 py-3">
            <h3 class="tittle text-center mb-lg-5 mb-3 px-lg-5">About Me</h3>
            <div class="feature-grids row mt-3 mb-lg-5 mb-3 mt-lg-5 text-center">
                <div class="col-lg-4" data-aos="fade-up">
                    <div class="bottom-gd px-3">
                        <span class="fas fa-running" aria-hidden="true"></span>
                        <h3 class="my-4">{{ site.about.block1.title }}</h3>
                        <p>{{ site.about.block1.text }}</p>
                    </div>
                </div>
                <div class="col-lg-4" data-aos="fade-up">
                    <div class="bottom-gd2-active px-3">
                        <span class="fas fa-people-carry" aria-hidden="true"></span>
                        <h3 class="my-4">{{ site.about.block2.title }}</h3>
                        <p>{{ site.about.block2.text }}</p>
                    </div>
                </div>
                <div class="col-lg-4" data-aos="fade-up">
                    <div class="bottom-gd px-3">
                        <span class="fas fa-box-open" aria-hidden="true"></span>
                        <h3 class="my-4">{{ site.about.block3.title }}</h3>
                        <p>{{ site.about.block3.text }}</p>
                    </div>
                </div>

            </div>
            <div class="fetured-info pt-lg-5">
            
                <div class="row fetured-sec mt-lg-5 mt-3">
                    <div class="col-lg-6 p-0">
                        <div class="img-effect">
                            <img src="/assets/images/about.jpg" alt="" class="img-fluid image1">
                        </div>

                    </div>
                    <div class="col-lg-6 serv_bottom feature-grids pl-lg-5">
                        <div class="featured-left text-left">
                            <div class="bottom-gd px-3">
                                <span class="fas fa-user-secret" aria-hidden="true"></span>
                                <h3 class="my-4">The Digger Spy?</h3>
                                <p><em>"Baggerspion: The urge to peek into boarded-up construction sites."</em></p>
                                <p>
                                    As a software engineer, I love working with technology. Moreover, I am completely 
                                    fascinated with <em>how</em> technology is created: team dynamics, process, culture...
                                </p>
                                <p>
                                    "Baggerspion" is a <a target="_blank" href="https://archive.nytimes.com/www.nytimes.com/interactive/2013/10/12/opinion/international/20131011_Schott.html">completely made-up German word</a>
                                    which sums-up my approach to engineering leadership. I enjoy peeking into engineering teams, understanding how they
                                    work. Only once I have studied can I help to remove obstacles and improve practices and performance.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>