<div class="cpy-right py-3">
	<div class="container">
		<div class="row no-gutters">
		<div class="col-md-8">
			<p class="copy-w3layouts">
                © 2020 Paul Adams. <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA</a>
			</p>
		</div>
        <div class="col-md-4 footer-grid_section">
			<ul class="top-right-info">
                                <li>
                                    <a href="{{ site.social.linkedin }}">
											<span class="fab fa-linkedin-in"></span></a>
                                </li>
                                <li>
                                    <a href="{{ site.social.github }}">
											<span class="fab fa-github"></span></a>
                                </li>
                                <li>
                                    <a href="{{ site.social.twitter }}">
											<span class="fab fa-twitter"></span></a>
                                </li>
                                <li>
                                    <a href="{{ site.social.instagram }}">
											<span class="fab fa-instagram"></span></a>
                                </li>
                            </ul>
                </div>
			</div>
    </div>
	</div>