<section class="features2 cid-rRPIqp6MjP" id="features2-a"> 
    
    <div class="container">
        <div class="media-container-row">

            {% for post in site.posts limit: 4 %}
            <div class="card p-3 col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="assets/images/posts/{{ post.header.src }}" alt="{{ post.header.desc }}">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">
                            {{ post.title }}
                        </h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            {{ post.excerpt | strip_html | truncatewords:30 }} <a href="{{ site.baseurl }}{{ post.url }}">Read more</a>
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %} 

        </div>

    </div>
    
</section>