<section class="cid-rRPCtQYGx9 mbr-fullscreen mbr-parallax-background" id="header2-2">
    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(35, 35, 35);"></div>
    <div class="container align-center">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">
                    {{ site.title }}
                </h1>
                <h3 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-2">
                    {{ site.owner }}
                </h3>
                <p class="mbr-text pb-3 mbr-fonts-style display-5">
                    {{ site.description }}
                </p>
            </div>
        </div>
    </div>
    <!-- div class="mbr-arrow hidden-sm-down" aria-hidden="true">
        <a href="#next">
            <i class="mbri-down mbr-iconfont"></i>
        </a>
    </div -->
</section>