<div id="testemonials" class="testimonials py-md-5 py-5">
    <div class="container pt-lg-3 pb-md-5">
        <h3 class="tittle  text-center mb-lg-5 mb-3">What Folks Say</h3>
        <div id="testemonial-carousel" class="carousel slide testimonials_grid_w3ls mt-lg-0 mt-4" data-ride="carousel">
            <div class="carousel-inner">
                {% for reference in site.references %}
                {% if forloop.first %}
                <div class="carousel-item active">
                {% else %}
                <div class="carousel-item">
                {% endif %}
                    <p class="sub-test">
                        <span class="fa fa-quote-left" aria-hidden="true"></span> 
                        {{ reference.description }}
                    </p>
                    <div class="row mt-4">
                        <div class="col-3 testi-img-res">
                            <img src="assets/images/testemonials/{{ reference.image }}" alt="" class="img-fluid" />
                        </div>
                        <div class="col-9 testi_grid mt-xl-3 mt-lg-2 mt-md-4 mt-2">
                            <h5 class="mb-2">{{ reference.name }}</h5>
                            <p>{{ reference.affiliation }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="controls testimonial_control pull-right">
                <div class="controls testimonial_control pull-right">
                    <a class="left fa fa-chevron-left btn btn-default testimonial_btn" href="#testemonial-carousel" role="button" data-slide="prev"></a>
                    <a class="right fa fa-chevron-right btn btn-default testimonial_btn" href="#testemonial-carousel" role="button" data-slide="next"></a>
                </div>
            </div>
        </div>
    </div>
</div>