---
layout: post
date: 2017-04-26 12:00
title: Source Verification In Habitat
categories: [Habitat]
header:
  src: mask.jpg
  desc: "Carnival de Limoux" by tagon (https://flic.kr/p/Cn7pP)
---
My adventures into [Habitat](https://habitat.sh) continue.